$accentColor = #6a57d6
$textColor = #2c3e50
$borderColor = #dbdfe6
$codeBgColor = #282c34
$bgColor = #edf1f7;

html
  background: $bgColor

table tbody,thead
  background: #fff

table tr:nth-child(2n)
  background-color: #f9f9f9;

div[class~="language-php"]:before
  content "php"